:root {

    --tc: #2E6FCC;
    --h1c: #67D120;
    --h2c: #F5EC50;
    --h3c: #F38F1D;
    --h4c: #C32C57;
    --h5c: #62275D;
}


.cm-header-1
{
    text-decoration: underline;
    text-decoration-color: var(--h1c);
}

.cm-header-2
{
    text-decoration: underline;
    text-decoration-color: var(--h2c);
}

.cm-header-3
{

    text-decoration: underline;
    text-decoration-color: var(--h3c);

}

.cm-header-4
{
    text-decoration: underline;
    text-decoration-color: var(--h4c);
}

.cm-header-5
{

    text-decoration: underline;
    text-decoration-color: var(--h5c);

}



h1
{
    text-decoration: underline;
    text-decoration-color: var(--h1c);
}

h2
{
    text-decoration: underline;
    text-decoration-color: 	var(--h2c);
}

h3
{

    text-decoration: underline;
    text-decoration-color: var(--h3c);

}

h4
{
    text-decoration: underline;
    text-decoration-color: var(--h4c);
}

h5
{

    text-decoration: underline;
    text-decoration-color: var(--h5c);

}

::marker
{
    color: #ff6961;
}

ol
{
    list-style-type: upper-roman;
}


.inline-title
{
    color: var(--tc);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}